{% extends 'app/base.html' %}

{% block contenido %}
{% load crispy_forms_tags %}
<!-- Formulario de contacto -->
<section class="contacto mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2 class="text-center mb-4">Contáctanos</h2>
          <form id="contactoForm" class="Formulario" method="post" novalidate>

            {% csrf_token %}

            {{ form }}
            <div id="nombre_error" style="color: red;"></div>
            <div id="correo_error" style="color: red;"></div>
            <div id="mensaje_error" style="color: red;"></div>

            <button type="submit" id="btnEnviar" class="btn btn-primary btn-block">Enviar mensaje</button>
          </form>
          {{mensaje}}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block js %}  
{% endblock %}